<!--AUTHORS-->
<!--Robert Michael Fedor-->
<!--Noah Michael Ritter-->
<canvas #canvas class="canvas" ></canvas>
<button (click)="switchMap()">Switch Map</button>
<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" align="end">
    <input type = "text" name = "start" placeholder = "Start" ngModel> <br>
    <input type = "text" name = "end" placeholder = "End" ngModel><br>
    <input type = "submit" value = "Go!">
</form>

<!--testing web address and deploy command-->
<!--https://fedorrob000.github.io/SAHS-Maps/-->
<!--ng build --prod --baseHref=" https://fedorrob000.github.io/SAHS-Maps/"-->
